:root {
  --text: rgb(230, 235, 235);
  --background: rgb(14, 17, 17);
  --primary: rgb(196, 196, 196);
  --secondary: rgb(54, 55, 55);
  --accent: rgb(255, 255, 255);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary);
  max-height: 3rem;
}

nav ul {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: var(--text);
  letter-spacing: 0.08rem;
}

nav ul:hover {
  list-style: none;
}

nav ul li {
  align-items: center;
  align-self: center;
}

.nav-list {
  display: flex;
  gap: 3.5rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 2rem;
  width: stretch;
  max-height: 3rem;
  margin: 0;
}

.nav-logo {
  color: var(--accent);
  text-decoration: none;
  padding: 0;
  margin: 0;
  align-items: center;
  align-self: center;
}

@import url('https://fonts.googleapis.com/css?family=Intel%20One%20Mono:700|Intel%20One%20Mono:400');

body {
  font-family: 'Intel One Mono';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Intel One Mono';
  font-weight: 700;
  margin: 0;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

p {
  margin: 0;
}